<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/wang.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">关于 <span id="js-rotating">王思兵</span> 的简介</h4>
  </div>
  <div class="user-content">
    <p>
      王思兵，男，江西南昌人，1993年出生，本科就读于中国地质大学（武汉）地球物理专业；研究生就读于中国地质大学（武汉）地球探测与信息技术专业，研究方向为大地电磁法。
    </p>
    <p>
      主修课程（本科）：数字信号处理、地质学、矿物岩石学、C语言、MATLAB语言及应用、反演理论、场论、瞬变电磁法、探地雷达勘探、地球物理（重、磁、电、震）勘探原理及处理解释、数值分析、复变函数、数理方程等。
    </p>
	  主修课程（硕士）：测井与测井资料综合解释、电磁场理论、地球物理反演理论、多元统计分析、现代信息技术基础等。
	</p>
  </div>
</div>